@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#sidebar::-webkit-scrollbar {
  width: 10px;
}

#sidebar::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

body {
  background-color: #141414;
}

#home {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#home h1 {
  color: #fff;
  margin: 0 auto;
}

#home input {
  background-color: rgba(196, 196, 196, 0.2);
  padding: 12px 18px;
  border-radius: 8px;
  border-color: rgba(196, 196, 196, 0.2);
  color: rgba(255, 255, 255, 0.74);
}

::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.signatureIcon {
  color: #ff000d;
}

.btn {
  background-color: #ff5959;
  border-color: #ff5959;
  font-weight: bold;

  color: #fff;
  padding: 12px 38px;
  margin-top: 1em;
  border-radius: 10px;
  cursor: pointer;
}
